<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Exam Monitoring System</title>
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">

</head>
<body>
<!-- partial:index.partial.html -->
{% block content %}
{% if error %}
    <p><strong>Error:</strong> {{ error }}
 {% endif %}
<form action="http://localhost:5000/login" method="POST">
	
	<img src="{{ url_for('static', filename = 'loginavatar.jpg') }}" style="margin-left: 15px;">

	<div class="inputGroup inputGroup1">
		<label for="email1">Student ID</label>
		<input type="text" id="email" class="email" maxlength="256" name="sid" />
		<span class="indicator"></span>
	</div>
	<div class="inputGroup inputGroup2">
		<label for="password">Password</label>
		<input type="password" id="password" class="password" name="pass_w"/>
	</div>
	<div class="inputGroup inputGroup3">
		<button id="login">Log in</button>
	</div>	
</form>
{% endblock %}
<!-- partial -->

</body>
</html>
